<config>
    <modules>
        <Polushkin_FirstModule>
            <version>1.0.0</version>
        </Polushkin_FirstModule>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Polushkin_FirstModule</module>
                    <frontName>magetalk</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helloworld>
                <class>Polushkin_FirstModule_Block</class>
            </helloworld>
        </blocks>
        <models>
            <techtalk>
                <class>Polushkin_FirstModule_Model</class>
                <resourceModel>techtalk_resource</resourceModel>
            </techtalk>
            <techtalk_resource>
                <class>Polushkin_Firstmodule_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </techtalk_resource>
        </models>
        <resources>
            <techtalk_setup>
                <setup>
                    <module>Polushkin_Firtmodule</module>
                </setup>
            </techtalk_setup>
        </resources>
    </global>
</config>